[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=${PROJECT_DISPLAY_NAME}
Version=${CMAKE_PROJECT_VERSION}
Categories=Office;Finance
Exec=splitbill
Icon=splitbill
StartupNotify=true
Terminal=false
